body {
  font-family: Georgia, serif;
  font-size: 100%;
  line-height: 175%;
  margin: 0 15% 0;
  /* background-image: url(images/bullseye.png); */
  background: #FCF9FF url(images/blackgoose.png) no-repeat center 100px fixed;
}

header {
  border: 3px double;
  border-color: #AC95CB;
  margin-top: 0;
  padding: 3em 1em 2em 1em;
  text-align: center;
  background:
  url(images/gooseshadow.png) 90% bottom no-repeat;
  background-color: rgba(255, 255, 255, .5); 

}

#main {
  font-size: 23px;
  list-style: none;
  margin: 0 2px;
  padding: 0;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #AC95CB;
  border-top: 1px solid #AC95CB;
  padding-bottom: 24px;
  padding-top: 24px;
}

a {
  text-decoration: none;
}
a:link { color: #AB7ECF; }
a:visited { color: #6B587B; }
a:hover { color: #DDCBFF; background-color: #fff; }
a:active { color: #8054D2; background-color: #fff; }

h1 {
  font: bold 1.5em Georgia, serif;
  text-shadow: .1em .1em .2em gray;
  color: #649647;
}
h2 {
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: .5em;
  text-align: center;
  color: #649647
}
dt {
  font-weight: bold;
}
strong {
  font-style: italic;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#info p {
  font-style: italic;
}
.price {
  font-family: Georgia, serif;
  font-style: italic;
}
p.warning, sup {
  font-size: small;
}
.label {
  font-weight: bold;
  font-variant: small-caps;
  font-style: normal;
}

h2 + p {
  text-align: center;
  font-style: italic;
}
